<div id="loader-wrapper">
    <div id="loader">
    </div>
    <div class="loader-section section-left"> </div>
    <div class="loader-section section-right"></div>

</div>

<div class="top-nav ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <ul>
                    <li> <a href="#" class="today"> <i class="fa fa-calendar"></i> <span id="date"></span></a> </li>
                    <li><a href="#"> <i class="fa fa-phone"></i> 199099</a> </li>
                </ul>

            </div>
            <div class="col-md-6">
                <ul style="float: left">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fas fa-cog fa-3x gear-check"></i>
                        </a>
                        <ul class="dropdown-menu setting">
                            <p class=""> إعدادات الألوان</p>
                            <ul class="change-colors">
                                <li data-color="default"><i class="far fa-eye"></i></li>
                                <li data-color="gray"><i class="far fa-eye"></i></li>
                            </ul>
                            <hr>
                            <p> إعدادات الخط</p>
                            <ul class="change-font">
                                <li data-font="big"><i class="fas fa-plus orang"></i></li>
                                <li data-font="default"><i class="fas fa-minus orang"></i></li>
                            </ul>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user-check"></i> تسجيل دخول
                        </a>
                        <ul class="dropdown-menu baculoria" style="width: 300px;text-align:center; left:0; right:auto;">
                            <div class="form-horizontal" style="margin: 25px">

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="email" class="form-control" placeholder="اسم المستخدم">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="password" class="form-control" placeholder=" كلمة المرور ">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">تذكرني </label>
                                    </div>
                                </div>

                                <div style="text-align:center">
                                    <a href="#" class="btn btn-login">تسجيل دخول</a>
                                </div>
                                <hr>
                                <div class="link-login">
                                    <a href="#"> نسيت كلمة المرور ؟</a>
                                    <a href="#">دعم و مساعدة </a>
                                </div>

                            </div>
                        </ul>
                    </li>
                    <li><a href="#">English</a></li>

                </ul>
            </div>



        </div>
    </div>
</div>

<!-- Start Navigation -->

<nav class="navbar navbar-default brand-center center-side navbar-sticky navbar-scrollspy bootsnav">

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <div class="container">

        <!-- Start Header Navigation -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="index-ski-%20c.html"><img src="../../../assets/images/logo_3d.png"
                    class="logo" alt=""></a>
        </div>
        <!-- End Header Navigation -->

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-menu">
            <ul class="nav navbar-nav" data-in="fadeInDown" data-out="fadeOutUp">
                <li>
                    <div class="attr-nav" style="margin: 0">
                        <ul class="hidden-xs">
                            <li class="search hidden-xs"><a href="#"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </li>
                <li class=" nav-item dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-users-cog"></i> عن
                        الجامعة</a>
                    <ul class="dropdown-menu about">
                        <li><a href="about-univ.html"><i class="far fa-address-book"></i> تعريف بالجامعة وتأسيسها </a>
                        </li>
                        <li><a href="about-goals.html"><i class="far fa-eye"></i> الرؤية والرسالة والاهداف </a></li>
                        <li><a href="about-univ-board.html"><i class="fas fa-sitemap"></i> إدارة الجامعة (الهيكل
                                التنظيمي)</a></li>
                        <li><a href="about-univ-blending-learn.html"><i class="fas fa-book-reader"></i> عن التعليم
                                المدمج </a></li>
                        <li><a href="about-univ-partner.html"> <i class="fas fa-handshake"></i> شركاؤنا </a></li>
                        <li><a href="about-univ-policy.html"> <i class="fas fa-unlock-alt"></i> سياسة الخصوصية </a></li>
                        <li><a href="about-univ-location.html"> <i class="fas fa-map-marker-alt"></i> الموقع الجغرافي
                            </a></li>
                        <li><a href="about-univ-opendata.html"> <i class="fas fa-database"></i> البيانات المفتوحة </a>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i
                            class="fas fa-chalkboard-teacher"></i> إدارة الجامعة</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class=""> <i class="fas fa-award"></i> كلمة مدير الجامعة </a></li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-project-diagram"></i> وكالات الجامعة</a>
                            <ul class="dropdown-menu" style="width:300px">
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة للشؤون التعليمية </a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة لشؤون الفروع</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة للدراسات العليا و البحث
                                        العلمي</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة للتخطيط و التطوير و
                                        الجودة</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> وكالة الجامعة لشؤون الطالبات</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-briefcase"></i> العمادات المساندة</a>
                            <ul class="dropdown-menu">
                                <li><a href="#"> <i class="fas fa-list"></i> القبول وشؤون الطلاب</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> السنة الاولي المشتركة</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الدراسات العليا </a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> البحث العلمي</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> تقنية المعلومات</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> معاهد البحوث</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الموارد البشرية </a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-landmark"></i> الإدارات</a>
                            <ul class="dropdown-menu usity">
                                <li><a href="#"> <i class="fas fa-list"></i> المصادر المعرفية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> العلاقات العامة و الاعلام</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> القانونية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الابتعاث والاستقطاب </a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الميزانية والتخطيط</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> المراجعة الداخلية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الشؤون الادارية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> المالية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> العقود والمشتريات </a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الامن والسلامة</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> المساندة الطلابية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> المخزون </a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> المشاريع والصيانة</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الاتصالات الادارية</a></li>
                                <li><a href="#"> <i class="fas fa-list"></i> الخدمات الطبية</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <i class="fas fa-book-open"></i> الكليات
                        والفروع</a>
                    <ul class="dropdown-menu">

                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-briefcase"></i> الكليات</a>
                            <ul class="dropdown-menu baculoria">
                                <li>
                                    <a href="index-financial.html">
                                        <img src="../../../assets/images/profits.png">
                                        كلية العلوم الادارية و المالية
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        كلية الحوسبة و المعلوماتية
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="../../../assets/images/pharmacist.png">
                                        كلية العلوم الصحية
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        كلية العلوم و الدراسات النظرية
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-project-diagram"></i> الفروع</a>
                            <ul class="dropdown-menu">
                                <li><a href="index-Branch.html"><i class="fas fa-list"></i> الدمام </a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> جدة</a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> المدينة</a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> القصيم </a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> أبها</a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> الجوف</a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> الطائف </a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> تبوك </a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> جازان </a> </li>
                                <li><a href="#"> <i class="fas fa-list"></i> الأحساء </a> </li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a class="dropdown-toggle" href="academic.html" data-toggle="dropdown">
                        <i class="fas fa-award"></i> البرامج الأكاديمية</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="academic.html" data-toggle="dropdown">
                                <i class="fas fa-book-open"></i> البكالوريوس</a>
                            <ul class="dropdown-menu academic">
                                <li><a href="academic.html">برامج كلية العلوم الادارية والمالية</a></li>
                                <li><a href="#">برامج كلية الحوسبة والمعلوماتية</a></li>
                                <li><a href="#">برامج كلية العلوم الصحية</a></li>
                                <li><a href="#">برامج كلية العلوم والدراسات النظرية</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class=" dropdown-toggle" href="#" data-toggle="dropdown">
                                <i class="fas fa-user-graduate"></i> الدراسات العليا</a>
                            <ul class="dropdown-menu academic">
                                <li><a href="#">برامج كلية إداراة أعمال</a></li>
                                <li><a href="#">برامج كلية أمن المعلومات</a></li>
                                <li><a href="#">برامج كلية إداراة الرعاية الصحية</a></li>
                            </ul>
                        </li>
                        <li><a class="" href="#"> <i class="fas fa-book-reader"></i> التعلم المستمر</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-images"></i> المركز الإعلامي</a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class=""> <i class="fa fa-newspaper"></i> الأخبار </a></li>
                        <li><a href="#" class=""> <i class="fas fa-calendar-alt"></i> الفعاليات </a></li>
                        <li><a href="#" class=""> <i class="fas fa-bell"></i> التنبيهات </a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-check-square"> </i> القبول </a>
                    <ul class="dropdown-menu">
                        <li><a href="#" class=""> <i class="fas fa-book-open"></i> بكالوريوس</a></li>
                        <li><a href="#" class=""> <i class="fas fa-user-graduate"></i> دراسات العليا</a></li>
                    </ul>
                </li>
                <li>
                    <div class="">
                        <a href="#" class="hidden-xs"><img src="../../../assets/images/2030.png"
                                style="height: 45px; margin-top: 8px; margin-left:-40px"></a>
                    </div>
                </li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div>

</nav>
<!-- End Navigation -->

<section class="intro">
    <div class="swiper-container page-slide">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url(../../../assets/images/inner_banner.jpg); ">
                <div class="container">
                    <div class="swiper-slide-inner ">
                        <h2> المنصة التعليمية Blackboard</h2>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-slide-prev" style="background-image: url(../../../assets/images/inner_banner2.jpg); ">
                <div class="container">
                    <div class="swiper-slide-inner ">
                        <h2>المنصة التعليمية Blackboard</h2>
                    </div>
                </div>
            </div>

        </div>
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</section>

<div class="clearfix"></div>