
<div class="wrapper-s">
    <!-- Sidebar Holder -->
    <!-- <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class=""> <a [routerLink]="'/learn'"> <i class="fas fa-book-reader"></i> نظام إدارة التعلم </a> </li>
            <li class="active"> <a [routerLink]="'/metrics'"> <i class="fas fa-laptop-code"></i> الفصول الافتراضية  </a> </li>
            <li class=""> <a href="https://www.seu.edu.sa/ar/blackboard-system/"> <i class="fas fa-home"></i> نظام البلاك بورد</a> </li>
        </ul>

    </nav> -->

    <!-- Page Content Holder -->
    <div id="content">
      <div class="row">
          <ul style="margin-bottom: 30px;" class="nav nav-tabs">
            <li class=""> <a [routerLink]="'/learn'"> <i class="fas fa-book-reader"></i> نظام إدارة التعلم </a> </li>
            <li class="active"> <a [routerLink]="'/metrics'"> <i class="fas fa-laptop-code"></i> الفصول الافتراضية  </a> </li>
          </ul>
        </div>
        <div style="margin-bottom: 30px;" class="row">
          <div class="col-md-5">
              <div class="form-group">
                  <select (change)='onOptionsSelected(mySelect.value)' #mySelect class="form-control select-univ" id="univ">
                    <option value="all" selected>جميع الجامعات</option>
                    <option *ngFor="let univ of univs" [value]="univ.ID">{{univ.UNIV_NAME}}</option>
                  </select>
              </div>
          </div>
          <div class="col-md-5">
            <div class="form-group date">
              <input disabled type="text" class="form-control" value="{{ dayWeek }} الموافق {{ date }}">
            </div>
        </div>
      </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="card" style="width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">عدد الطلبة</h5>
                  <h3 class="card-subtitle mb-2 text-center">{{ studentCount }}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="card" style="width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">عدد الأساتذة</h5>
                  <h3 class="card-subtitle mb-2 text-center">{{ stuffCount }}</h3>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="card" style="width: 100%">
                <div class="card-body">
                  <h5 class="card-title text-center">عدد المقررات الدراسية</h5>
                  <h3 class="card-subtitle mb-2 text-center">{{ coursesCount }}</h3>
                </div>
              </div>
            </div>
        </div>
        <div *ngIf="!allUnivs" style="margin-top: 50px;" class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">اليوم</th>
                        <th scope="col">إجمالي الجلسات</th>
                        <th scope="col">المدة الإجمالية</th>
                        <th scope="col"> الحاضرين</th>
                        <th scope="col"> الحاضرين الفريدين</th>
                        <th scope="col">الجلسات المتزامنة</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of list2">
                        <td>{{item.DAY_WEEK}}</td>
                        <td>{{item.TOTAL_SESSIONS_COUNT}}</td>
                        <td>{{item.TOTAL_DURATION}}</td>
                        <td>{{item.ATTENDANCE_COUNT}}</td>
                        <td>{{item.UNIQUE_ATTENDANCE_COUNT}}</td>
                        <td>{{item.BIG_ASYNC_SESSIONS}}</td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>
        </div>
        <div style="margin-top: 30px;" *ngIf="allUnivs" class="row">
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="our-team">
              <div class="pic">
                  <img src="assets/images/session-icon.png">
              </div>
                <div class="team-content">
                  <h3 class="title">{{totalSessions}}</h3>
                  <h2>إجمالي الجلسات</h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="our-team">
              <div class="pic">
                  <img src="assets/images/duration-icon.png">
              </div>
                <div class="team-content">
                  <h3 class="title">{{ totalHours }} ساعة و {{ totalMinutes }} دقيقة </h3>
                  <h2>المدة الإجمالية</h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="our-team">
              <div class="pic">
                  <img src="assets/images/attend-icon.png">
              </div>
                <div class="team-content">
                  <h3 class="title">{{attend}}</h3>
                  <h2>الحاضرين</h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="our-team">
              <div class="pic">
                  <img src="assets/images/unique-icon.png">
              </div>
                <div class="team-content">
                  <h3 class="title">{{attendUnique}}</h3>
                  <h2> الحاضرين الفريدين</h2>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="our-team">
              <div class="pic">
                  <img src="assets/images/async-icon.png">
              </div>
                <div class="team-content">
                  <h3 class="title">{{asyncSessions}}</h3>
                  <h2>الجلسات المتزامنة</h2>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>