

<!--==========================
    Footer
  ============================-->
  <section id="footer">
    <div class="subscription-section" style="text-align: center">
        <form action="#" method="post" name="mc-embedded-subscribe-form" target="_blank">
            <label class="title">اشترك في مجموعتنا البريدية</label>
            <input class="input-box" type="email" value="" placeholder="عنوان بريد الكتروني" name="EMAIL">
            <span class="input-group__btn">
                <button type="submit" class="btn subscription-btn" name="commit" id="Subscribe">
                    <span class="newsletter__submit-text--large">الإشتراك</span>
                </button>
            </span>
        </form>
    </div>
    <!-- footer section -->
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-ld-3 col-md-3 col-sm-6 col-12">
                    <h3>عن الجامعة</h3>
                    <p> صدرت موافقة خادم الحرمين الشريفين الملك عبدالله بن عبدالعزيز - رحمه الله – بناء على الأمر السامي
                        الكريم رقم 37409/ب بتاريخ 1432/9/10هـ</p>
                </div>
                <div class="col-ld-3 col-md-3 col-sm-6 col-12">
                    <h3>الروابط الرئيسية</h3>
                    <ul class="footer-links">
                        <li>
                            <a href="#"> <i class="far fa-dot-circle"></i> تعريف بالجامعة و تأسيسها</a>
                        </li>
                        <li>
                            <a href="#"> <i class="far fa-dot-circle"></i> الرؤية و الرسالة و الأهداف</a>
                        </li>
                        <li>
                            <a href="#"> <i class="far fa-dot-circle"></i>عن التعليم الالكتروني</a>
                        </li>
                        <li>
                            <a href="#"><i class="far fa-dot-circle"></i> البيانات المفتوحة</a>
                        </li>
                    </ul>
                </div>
                <div class="col-ld-3 col-md-3 col-sm-6 col-12">
                    <h3>الكليات</h3>
                    <ul class="footer-links">
                        <li>
                            <a href="#"> <i class="far fa-dot-circle"></i> كلية العلوم الادارية و المالية </a>
                        </li>
                        <li>
                            <a href="#"> <i class="far fa-dot-circle"></i> كلية الحوسبة و المعلوماتية</a>
                        </li>
                        <li>
                            <a href="#"><i class="far fa-dot-circle"></i> كلية العلوم الصحية</a>
                        </li>
                        <li>
                            <a href="#"><i class="far fa-dot-circle"></i> كلية العلوم و الدراسات النظرية</a>
                        </li>
                    </ul>
                </div>
                <div class="col-ld-3 col-md-3 col-sm-6 col-12">
                    <h3>اتصل بنا</h3>
                    <ul class="footer-links loc">
                        <li>
                            <p>
                                <i class="fas fa-map-marker-alt"></i> &nbsp;
                                <span class="address">
                                    المملكة العربية السعودية -<br> الرياض - طريق أبو بكر الصديق
                                </span>
                            </p>
                        </li>
                        <li>
                            <p> <i class="fas fa-phone"></i> &nbsp; <span class="phone"> 00966112613500</span>
                            </p>
                        </li>
                        <li>
                            <p> <i class="far fa-envelope"></i> &nbsp; <a href="#" class="mail"> contact@seu.edu.sa</a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row sub-footer">
                <div class="col-ld-6 col-md-6 col-sm-6 col-12">
                    <div class="social-links float-right">
                        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fab fa-facebook-f"> </i></a>
                        <a href="#" class="instagram"><i class="fab fa-youtube"></i></a>
                        <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-ld-6 col-md-6 col-sm-6 col-12">
                    <span class="copyright float-left">حقوق النشر 2019 ،جميع الحقوق محفوظة للجامعة السعودية
                        الالكترونية.</span>
                </div>
            </div>
        </div>
    </div>
</section>


<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>